@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg-color: #eeeff1;
  --black-color: #000000;
  --white-color: #ffffff;
  --brand-color: #34547a;
  --light-gray-color: #727272;

  --gap-sm: 20px;
  --gap-md: 27px;
  --gap-lg: 45px;
  --gap-xl: 50px;
  --gap-2xl: 60px;

  --font-size-sm: 13px;
  --font-size-md: 16px;
  --font-size-lg: 21px;
  --font-size-xl: 26px;
  --font-size-2xl: 32px;
  --font-size-3xl: 34px;
  --font-size-4xl: 48px;

  --font-weight-sm: 400;
  --font-weight-md: 500;
}

/* GLOBAL */
body {
  font-family: "Roboto", sans-serif;
  font-weight: var(--font-weight-sm);
  line-height: 1.64;
  color: var(--light-gray-color);
}

.wrapper {
  flex-direction: column;
  display: flex;
  background: var(--bg-color);
  min-height: 100vh;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

/* HEADER */

.nav {
  padding: 80px 0 60px;
}
.nav__list {
  display: flex;
  gap: var(--gap-md);
  flex-wrap: wrap;
  margin-left: -0.75em;
}

.nav__list li {
  border-bottom: 1px solid transparent;
  transition: border-color 0.5s linear;
}

.nav__list li:hover {
  border-bottom: 1px solid var(--brand-color);
}

.nav__link {
  color: var(--black-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: all 0.5s linear;
  display: inline-block;
  padding: 0.5em 0.75em;
}
.nav__link--active {
  color: var(--brand-color);
  font-weight: var(--font-weight-md);
}

.nav__link:hover {
  color: var(--brand-color);
  transform: translateY(-3px);
}

/* HERO */

.hero {
  margin-bottom: 140px;
  margin-top: 80px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2xl);
  align-items: flex-start;
}

.main__title {
  font-size: var(--font-size-4xl);
  margin-bottom: 43px;
  font-weight: var(--font-weight-md);
  color: var(--black-color);
}

.section {
  width: 100%;
  max-width: 540px;
}

.hero__btn {
  padding: 18px 54px;
  background: var(--brand-color);
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition:
    background-color 0.3s linear,
    color 0.5s linear,
    box-shadow 0.5s linear;
}

.hero__btn:active {
  border: 1px solid var(--white-color);
}

.hero__btn:hover {
  background: var(--white-color);
  color: var(--brand-color);
  box-shadow: #04237a4d -11px 10px 6px 1px;
}

/* BURGER */
.burger {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 35px;
  height: 35px;
  background: var(--brand-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  z-index: 11;
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background: var(--white-color);
  border-radius: 2px;
  transition: all 0.3s ease;
}

.burger--active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

.burger--active span:nth-child(2) {
  opacity: 0;
  z-index: 0;
}

.burger--active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -6px);
}

/* ABOUT, PROCESS*/
.about {
  background-color: var(--white-color);
}

.about,
.process {
  text-align: center;
  padding: 100px 0;
}

.main__subtitle {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-md);
  color: var(--black-color);
  line-height: 1;
  margin-bottom: 40px;
}

.about__container,
.process__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process__container {
  gap: var(--gap-xl);
}

/* PROJECTS */
.projects {
  background: var(--brand-color);
  padding: 100px 0;
}

.projects__container {
  overflow: hidden;
  display: flex;
  gap: var(--gap-lg);
  position: relative;
}

.projects__container::before,
.projects__container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    to right,
    var(--brand-color) 0%,
    rgba(52, 84, 122, 0) 100%
  );
}
.projects__container::before {
  left: 0;
}
.projects__container::after {
  right: 0;
  transform: rotate(180deg);
}

.projects__list {
  display: flex;
  align-items: center;
  gap: var(--gap-lg);
  animation: slide 15s linear 2s infinite;
}

.projects__item {
  color: var(--white-color);
  position: relative;
  padding-left: 70px;
  text-transform: lowercase;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 22.5px));
  }
}

.projects__item::before {
  position: absolute;
  content: "";
  display: inline-block;
  top: 0;
  left: 0;

  width: 50px;
  height: 50px;

  background: url("../images/icons/project.svg") center/contain no-repeat;
}
.projects__span {
  font-weight: var(--font-weight-md);
}

/* ВІДЕО */
.video-wrapper {
  position: relative;
  width: 100%;
  max-width: 1100px;
}

.video {
  width: 100%;
  display: block;
  border-radius: 12px;
}

/* КНОПКА */
.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100px;
  height: 100px;

  transform: translate(-50%, -50%);

  border: none;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;

  transition: all 0.3s linear;
}

/* ТРИКУТНИК */
.play-btn::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 54%;

  transform: translate(-50%, -50%);

  width: 0;
  height: 0;

  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 26px solid #000;
}

/* HOVER */
.play-btn:hover {
  transform: translate(-50%, -50%) scale(1.08);
  background: var(--white-color);
}

/* FOOTER */

.footer {
  margin-top: auto;
  background: var(--brand-color);
  padding: 50px 0;
  color: var(--white-color);
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  justify-items: flex-start;
}

.footer__name {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-md);
  line-height: 1;
}

.footer__copyright {
  font-size: var(--font-size-sm);
}

@media (max-width: 992px) {
  .hero {
    margin-bottom: 70px;
    margin-top: 40px;
  }

  .main__title {
    font-size: var(--font-size-3xl);
    margin-bottom: 28px;
  }

  .hero__btn {
    padding: 14px 42px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 708px;
  }

  .section {
    max-width: 100%;
  }
  .about,
  .projects,
  .process {
    padding: 60px 0;
  }
  .main__subtitle {
    font-size: var(--font-size-xl);
  }
  .projects__container::before,
  .projects__container::after {
    width: 60px;
  }

  .play-btn {
    width: 60px;
    height: 60px;
  }
  .play-btn::before {
    border-left: 16px solid #000;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
}

@media (max-width: 576px) {
  .main__title {
    font-size: 26px;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    padding: 30px 0;
  }

  .burger {
    display: flex;
  }

  .nav__list {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    flex-direction: column;
    background: var(--white-color);
    padding: 80px 30px 30px;
    gap: var(--gap-sm);
    margin-left: 0;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 10;
  }

  .nav__list--open {
    transform: translateX(0);
  }

  .hero__btn {
    padding: 13px 35px;
  }
}
